{% extends 'layout.html' %}
{% block style %}
<style>
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-secondary);
    }

    .switchToggle input[type=checkbox] {
    	height: 0;
    	width: 0;
    	visibility: hidden;
    	position: absolute;
    }

    .switchToggle label {
    	cursor: pointer;
    	text-indent: -9999px;
    	width: 75px;
    	max-width: 75px;
    	height: 30px;
    	background: #adb5bd;
    	display: block;
    	border-radius: 100px;
    	position: relative;
    }

    .switchToggle label:after {
    	content: '';
    	position: absolute;
    	top: 2px;
    	left: 2px;
    	width: 26px;
    	height: 26px;
    	background: #fff;
    	border-radius: 90px;
    	transition: 0.5s ease;
    }

    .switchToggle input:checked + label, .switchToggle input:checked + input + label {
    	background: #198754;
    }

    .switchToggle input + label:before, .switchToggle input + input + label:before {
    	content: 'OFF';
    	position: absolute;
    	top: 2px;
    	left: 35px;
    	width: 26px;
    	height: 26px;
    	border-radius: 90px;
    	transition: 0.5s ease;
    	text-indent: 0;
    	color: #fff;
    }

    .switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {
    	content: 'ON';
    	position: absolute;
    	top: 2px;
    	left: 10px;
    	width: 26px;
    	height: 26px;
    	border-radius: 90px;
    	transition: 0.5s ease;
    	text-indent: 0;
    	color: #fff;
    }

    .switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {
    	left: calc(100% - 2px);
    	transform: translateX(-100%);
    }

    .switchToggle label:active:after {
    	width: 60px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row mx-2 py-3">
    <div class="col-lg-3 col-md-6 p-0 d-flex">
        <div class="bg-dark-subtle m-1 flex-grow-1 position-relative d-flex flex-column" style="min-height: 150px;">
            <div class="position-absolute ms-3 mt-3"><i class="bi bi-calendar2-event fs-1"></i></div>
            <h4 class="text-center mt-4">TODAY</h4>
            <h3 id="day" class="text-center my-2"></h3>
            <h3 id="date" class="text-center"></h3>
            <hr />
            <h2 id="time" class="text-center"></h2>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 p-0">
        <div class="bg-dark-subtle m-1 mb-2 d-flex" style="height: 120px;">
            <h4 class="p-2 m-auto">EMATIC - Remote Motor Control System</h4>
        </div>
        <div class="bg-dark-subtle m-1 mb-1 d-flex flex-column" style="height: 120px;">
            <h4 class="p-2 m-auto">CURRENT SQUENCE</h4>
            <h3 class="p-2 mx-auto mb-3 d-inline-block border border-dark">{% if current_sequence!=None %}{{current_sequence}}{% endif %}</h3>
        </div>
    </div>
    <div class="col-lg-4 col-md-10 p-0 d-flex">
        <div class="bg-dark-subtle m-1 flex-grow-1 d-flex flex-column position-relative" style="min-height: 150px;">
            <div class="position-absolute top-0 end-0 mt-2 me-2"><i class="bi bi-bell-fill"></i></div>
            <h5 class="ms-2 mt-2">NOTIFICATION :</h5>
            <div id="message" class="alert alert-primary mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                <h1 class="text-center"><i class="bi bi-toggles"></i></h1>
                <h3 class="text-center">Motor {{current_motor}} yet to operate</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 p-0 d-flex">
        <div class="bg-dark-subtle m-1 flex-grow-1 d-flex flex-column">
            <div class="m-auto" id="d-n"></div>
        </div>
    </div>
    <div class="col-lg-9 col-sm-12 p-0">
        {% if motors is not none %}
        <div class="d-flex justify-content-between flex-wrap">
            {% for i in range(1, 5) %}
            <div class="d-flex flex-column flex-fill bg-dark-subtle m-1 position-relative" style="height: 150px;" {% if motors[i|string]["enable"]==0 %}data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="disabled" data-bs-custom-class="custom-tooltip"{% endif %}>
                {% if motors[i|string]["enable"]==0 %}
                <div class="position-absolute top-0 end-0 me-2 mt-1"><i class="bi bi-lock-fill"></i></div>
                {% else %}
                <div class="position-absolute top-0 end-0 me-2 mt-1"><i class="bi bi-unlock-fill"></i></div>
                {% endif %}
                <h5 class="text-center my-2">MOTOR {{i}}</h5>
                <div class="switchToggle mx-auto my-2">
                    <input class="switch" data-index="{{i}}" data-forward-position={{motors[i|string]["forward"]["position"]}} data-reverse-position={{motors[i|string]["reverse"]["position"]}} type="checkbox" id="switch{{i}}" {% if motors[i|string]["forward"]["output"]==0 %}checked{% endif %} {% if motors[i|string]["enable"]==0 %}disabled{% endif %} />
                    <label for="switch{{i}}">Toggle</label>
                </div>
                <h6 id="status{{i}}" class="text-center my-1">{% if motors[i|string]["forward"]["output"]==0 %}Opened{% else %}Closed{% endif %}</h6>
                <div class="d-flex justify-content-between my-1">
                    <span id="left{{i}}" class="p-2 rounded-circle {% if motors[i|string]['forward']['output']==0 %}bg-secondary{% else %}bg-danger{% endif %} ms-4"></span>
                    <span id="right{{i}}" class="p-2 rounded-circle {% if motors[i|string]['forward']['output']==0 %}bg-danger{% else %}bg-secondary{% endif %} me-4"></span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-between flex-wrap">
            {% for i in range(5, 9) %}
            <div class="d-flex flex-column flex-fill bg-dark-subtle m-1 position-relative" style="height: 150px;" {% if motors[i|string]["enable"]==0 %}data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="disabled" data-bs-custom-class="custom-tooltip"{% endif %}>
                {% if motors[i|string]["enable"]==0 %}
                <div class="position-absolute top-0 end-0 me-2 mt-1"><i class="bi bi-lock-fill"></i></div>
                {% else %}
                <div class="position-absolute top-0 end-0 me-2 mt-1"><i class="bi bi-unlock-fill"></i></div>
                {% endif %}
                <h5 class="text-center my-2">MOTOR {{i}}</h5>
                <div class="switchToggle mx-auto my-2">
                    <input class="switch" data-index="{{i}}" data-forward-position={{motors[i|string]["forward"]["position"]}} data-reverse-position={{motors[i|string]["reverse"]["position"]}} type="checkbox" id="switch{{i}}" {% if motors[i|string]["forward"]["output"]==0 %}checked{% endif %} {% if motors[i|string]["enable"]==0 %}disabled{% endif %} />
                    <label for="switch{{i}}">Toggle</label>
                </div>
                <h6 id="status{{i}}" class="text-center my-1">{% if motors[i|string]["forward"]["output"]==0 %}Opened{% else %}Closed{% endif %}</h6>
                <div class="d-flex justify-content-between my-1">
                    <span id="left{{i}}" class="p-2 rounded-circle {% if motors[i|string]['forward']['output']==0 %}bg-secondary{% else %}bg-danger{% endif %} ms-4"></span>
                    <span id="right{{i}}" class="p-2 rounded-circle {% if motors[i|string]['forward']['output']==0 %}bg-danger{% else %}bg-secondary{% endif %} me-4"></span>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3 p-0">
        <div class="d-flex justify-content-center flex-wrap">
            <div class="flex-fill bg-dark-subtle m-1 d-flex flex-column" style="height: 150px;">
                <h3 class="text-center text-danger my-2">EMERGENCY</h3>
                <i class="bi bi-exclamation-triangle text-danger fs-3 text-center"></i>
                <button id="emergency" class="btn btn-outline-danger btn-md m-auto rounded-0"><i class="bi bi-x-square"></i> TURN OFF</button>
            </div>
        </div>
        <div class="d-flex justify-content-center flex-wrap">
            <div class="flex-fill bg-dark-subtle m-1 d-flex" style="height: 150px;">
                <button class="btn btn-outline-dark btn-lg m-auto rounded-0" onclick=location.reload()><i class="bi bi-arrow-clockwise"></i> REFRESH</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(".switch").on('click', function(event){
        var index = $(this).attr("data-index");
        var forward_position = $(this).attr("data-forward-position");
        var reverse_position = $(this).attr("data-reverse-position");
        var position = $(this).is(":checked") ? forward_position : reverse_position;
        $.ajax({
            url: "{{url_for('dashboard.action')}}",
            method: 'POST',
            data: {"position": position},
            timeout: 0,
            beforeSend: function() {
                $("#message").replaceWith(`
                    <div id="message" class="alert alert-warning mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                        <p class="text-center mb-1">Please don't refresh the page before confirmation</p>
                        <div class="spinner-grow mx-auto" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="text-center">Waiting for confirmation...</p>
                    </div>
                `);
                $(`#switch${index}`).prop("disabled", true);
            },
            success: function(response) {
                if(response=="success"){
                    $("#message").replaceWith(`
                        <div id="message" class="alert alert-success mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                            <h1 class="text-center fs-1"><i class="bi bi-check2-circle"></i></h1>
                            <p class="text-center">Action successfull</p>
                            <p class="text-center">This page will auto-refresh in 2 seconds.</p>
                        </div>
                    `);
                    setTimeout(function(){
                        location.reload();
                    }, 2000);
                }else if(response=="waiting"){
                    console.log("waiting");
                }else{
                    $("#message").replaceWith(`
                        <div id="message" class="alert alert-danger mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                            <h1 class="text-center fs-1"><i class="bi bi-x-circle"></i></h1>
                            <p class="text-center">Something went wrong please try again or refresh the page..</p>
                        </div>
                    `);
                    $(`#switch${index}`).prop("disabled", false);
                    $(`#switch${index}`).prop("checked", false);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $("#message").replaceWith(`
                        <div id="message" class="alert alert-danger mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                            <h1 class="text-center fs-1"><i class="bi bi-x-circle"></i></h1>
                            <p class="text-center">Something went wrong please try again or refresh the page..</p>
                        </div>
                `);
                $(`#switch${index}`).prop("disabled", false);
                $(`#switch${index}`).prop("checked", false);
            }
        });
    });
</script>
<script>
    var date = new Date();
    var options = { day: 'numeric', month: 'short', year: 'numeric' };
    var formatted_date = date.toLocaleDateString('en-US', options);
    var parts = formatted_date.split(' ');

    var weekday = date.toLocaleDateString('en-US', { weekday: 'long' });
    var formattede_weekday = weekday.charAt(0).toUpperCase() + weekday.slice(1);

    var p1 = parts[1].slice(0, -1) <= 9 ? "0"+parts[1].slice(0, -1) : parts[1].slice(0, -1)
    $("#date").html(p1+"-"+parts[0]+"-"+parts[2]);
    $("#day").html(formattede_weekday);

    function displayTime() {
        var date = new Date();
        var time = date.toLocaleTimeString();
        $('#time').html(time);

        var hour = date.getHours();
        if (hour >= 6 && hour < 18) {
            $("#d-n").html(`<i class="bi bi-sun-fill text-warning" style="font-size: 5rem!important;"></i>`);
        } else {
            $("#d-n").html(`<i class="bi bi-moon-stars-fill text-white" style="font-size: 5rem!important;"></i>`);
        }
    }
    setInterval(displayTime, 1000);
</script>
<script>
    $("#reset").on("click", function(){
        $.ajax({
            url: "{{url_for('dashboard.reset')}}",
            method: 'GET',
            beforeSend: function() {
                $("#message").replaceWith(`
                    <div id="message" class="alert alert-warning mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                        <p class="text-center mb-1">Please don't refresh the page before confirmation</p>
                        <div class="spinner-grow mx-auto" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="text-center">Waiting for confirmation...</p>
                    </div>
                `);
            },
            success: function(response) {
                if(response=="success"){
                    $("#message").replaceWith(`
                        <div id="message" class="alert alert-success mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                            <h1 class="text-center fs-1"><i class="bi bi-check2-circle"></i></h1>
                            <p class="text-center">Action successfull</p>
                            <p class="text-center">This page will auto-refresh in 2 seconds.</p>
                        </div>
                    `);
                    setTimeout(function(){
                        location.reload();
                    }, 2000);
                }else{
                    $("#message").replaceWith(`
                        <div id="message" class="alert alert-danger mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                            <h1 class="text-center fs-1"><i class="bi bi-x-circle"></i></h1>
                            <p class="text-center">Something went wrong please try again or refresh the page..</p>
                        </div>
                    `);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $("#message").replaceWith(`
                        <div id="message" class="alert alert-danger mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                            <h1 class="text-center fs-1"><i class="bi bi-x-circle"></i></h1>
                            <p class="text-center">Something went wrong please try again or refresh the page..</p>
                        </div>
                `);
            }
        });
    });

    $("#emergency").on("click", function(){
        $.ajax({
            url: "{{url_for('dashboard.emergency')}}",
            method: 'GET',
            beforeSend: function() {
                $("#message").replaceWith(`
                    <div id="message" class="alert alert-warning mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                        <p class="text-center mb-1">Please don't refresh the page before confirmation</p>
                        <div class="spinner-grow mx-auto" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="text-center">Waiting for confirmation...</p>
                    </div>
                `);
            },
            success: function(response) {
                if(response=="success"){
                    $("#message").replaceWith(`
                        <div id="message" class="alert alert-success mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                            <h1 class="text-center fs-1"><i class="bi bi-check2-circle"></i></h1>
                            <p class="text-center">Action successfull</p>
                            <p class="text-center">This page will auto-refresh in 2 seconds.</p>
                        </div>
                    `);
                    setTimeout(function(){
                        location.reload();
                    }, 2000);
                }else{
                    $("#message").replaceWith(`
                        <div id="message" class="alert alert-danger mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                            <h1 class="text-center fs-1"><i class="bi bi-x-circle"></i></h1>
                            <p class="text-center">Something went wrong please try again or refresh the page..</p>
                        </div>
                    `);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $("#message").replaceWith(`
                        <div id="message" class="alert alert-danger mb-2 flex-fill mx-2 rounded-0 d-flex flex-column" role="alert">
                            <h1 class="text-center fs-1"><i class="bi bi-x-circle"></i></h1>
                            <p class="text-center">Something went wrong please try again or refresh the page..</p>
                        </div>
                `);
            }
        });
    });
</script>
<script>
    let ajaxInProgress = false;
    $(document).on({
      ajaxStart: function() {
        ajaxInProgress = true;
      },
      ajaxStop: function() {
        ajaxInProgress = false;
      }
    });
    window.addEventListener("beforeunload", function(event) {
      if (ajaxInProgress) {
        event.preventDefault();
        event.returnValue = "There are unsaved changes. Are you sure you want to leave the page?";
      }
    });
</script>
{% endblock %}